<div class="container marketing">
  <div>
      <form (submit)="onSaveContactInfo(contactUsForm)" #contactUsForm="ngForm">
          <h5 class="contact-form">ENTER YOUR DETAILS & WE'LL BE IN TOUCH SHORTLY</h5>
        <mat-form-field>
          <input
            matInput
            type="text"
            name="firstName"
            ngModel
            required
            minlength="3"
            placeholder="First Name"
            #firstName="ngModel"
          />
          <mat-error *ngIf="firstName.invalid"
            >Please enter your first name.</mat-error
          >
        </mat-form-field>
        <br />
        <mat-form-field>
          <input
            matInput
            type="text"
            name="lastName"
            ngModel
            required
            minlength="3"
            placeholder="Last Name"
            #lastName="ngModel"
          />
          <mat-error *ngIf="lastName.invalid"
            >Please enter your last name</mat-error
          >
        </mat-form-field>
        <br />
        <mat-form-field>
          <input
            matInput
            type="email"
            name="email"
            ngModel
            required
            minlength="3"
            placeholder="Email"
            #email="ngModel"
          />
          <mat-error *ngIf="email.invalid">Please enter your email.</mat-error>
        </mat-form-field>
        <br />
        <mat-form-field>
          <textarea
            matInput
            rows="4"
            name="content"
            ngModel
            required
            placeholder="Enter message ..."
            #content="ngModel"
          >
          </textarea>
          <mat-error *ngIf="content.invalid"
            >Please enter some content...</mat-error
          >
        </mat-form-field>
        <br />

        <br />
        <button mat-raised-button color="accent" type="submit">Submit</button>
      </form>
  </div>
</div>
