<div class="row">

  <div class="col-md-3">
  </div>
  <div class="col-md-6">
      <h3>New Course</h3>
      <form [formGroup]="form" (submit)="onSaveCourse()" *ngIf="!isLoading">
          <div class="form-group">
            <input formControlName="name" type="text" class="form-control" placeholder="Title" required/>
            <div class="alert alert-danger" *ngIf="form.get('name').touched && form.get('name').invalid">
                Title is required
            </div>
            </div>
          <div class="form-group">
              <input formControlName="category" type="text" class="form-control" placeholder="Enter category eg. English, French, Arabic"/>
              <div class="alert alert-danger" *ngIf="form.get('category').touched && form.get('category').invalid">
                  Category is required
              </div>

            </div>

          <div class="form-group">
            <textarea formControlName="description" id="" rows="2" class="form-control" placeholder="Description"></textarea>
            <div class="alert alert-danger" *ngIf="form.get('description').touched && form.get('description').invalid">
                Description is required
            </div>

          </div>
          <!-- <div class="form-group">
            <select id="category" class="form-control" placeholder="category">
              <option value="">Select Category</option>
              <option *ngFor="let category of course" [value]="category">{{course.category}}</option>
            </select>
          </div> -->
          <div class="form-group">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">$</span>
              </div>
              <input formControlName="price" type="text" class="form-control" placeholder="Price" required [min]="0"/>
            </div>
            <div class="alert alert-danger" *ngIf="form.get('price').touched && form.get('price').invalid">
              <div *ngIf="form.get('price').errors.required">Price is required</div>
              <div *ngIf="form.get('price').errors.min">Price should be 0 or higher</div>

            </div>
          </div>
          <div class="form-group">
            <div>
                <button mat-stroked-button type="button" (click)="filePicker.click()">
                  Pick Image
                </button>
                <input type="file" #filePicker (change)="onImagePicked($event)" />
              </div>
              <div
                class="image-preview"
                *ngIf="imagePreview !== '' && imagePreview && form.get('image').valid"
              >
                <img [src]="imagePreview" [alt]="form.value.name" />
              </div>

          </div>
          <button class="btn btn-primary">Save</button>
        </form>

    </div>

    <div class="col-md-3">

      </div>

</div>


