.row {
  margin-top: 3rem;
  background-color: #E6EAE8;
  height: 100%;

}

.wrapper {
  margin: 0 auto;
  top: 50px;
  position: relative;
  padding: 0 10px;
  width: 75%;
  min-width: 750px;
  background-color: #E6EAE8;

}
.user_details {
  width: 250px;
  float: left;
  margin-bottom: 20px;
}

.column {
  background-color: #fff;
  padding: 10px;
  border: 1px solid #D3D3D3;
  border-radius: 5px;
  box-shadow: 2px 2px 1px #D3D3D3;
  z-index: -1;
}
.user_details img {
  height: 125px;
  width: 125px;
  border-radius: 5px;
  margin-right: 10px;
}

.user_details_left_right {
  width: 125px;
  display: inline-block;
  position: absolute;
}

.main_column {
  float: right;
  width: 65%;
  z-index: -1;
  min-width: 160px;
}

input[type="text"] {
  font-size: 12px;
}

mat-card {
  width: 100%;
  /* margin: auto; */
  margin-top: 4rem;
  margin-bottom: 2rem;
  /* margin-left: 17%; */
}


h3 {
    text-align: left;
}

mat-form-field,
textarea {
  padding: 10px;
  height: 3rem;
  width: 100%;
  font-size: 13px;
}

button {
  width: 100%;
  padding: 10px;
}

/*
mat-menu {
  text-decoration: none;
  color: white;
  font-size: 1rem;
  font-weight: 400;
}

.dropdown-item{
  color: black;
}

.dropdown-item:hover{
  color: black;
}


li {
  list-style: none;
  padding: 20px;
  font-size: 1rem;
  font-weight: 400;
  cursor: pointer;
}
li:hover {
  color: orange;
}

ul{
  list-style: none;
  display: flex;
}

a {
  text-decoration: none;
  color: white;
  font-size: 1rem;
  font-weight: 400;
}
a:hover {
  color: orange;
}

.spacer {
  flex: 1 1 auto;
}
 */
