<div class="container-fluid">
  <div class="row">
    <nav class="col-md-2 d-none d-md-block bg-light sidebar">
      <div class="sidebar-sticky">

        <ul class="nav flex-column">
            <span matTooltip="Home">
                <i class="fas fa-home" routerLink="/admin"></i>
              </span>

          <div class="text-center">
            <img src="assets/images/eva.jpg" class="rounded-circle" alt="..." />
          </div>
          <li class="nav-item">
            <a class="nav-link active avatar" href="#">
              <span data-feather="home"></span>
              {{ fullName }} <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/admin/courses">
              <span data-feather="file"></span>
              Courses
            </a>
          </li>
          <li class="nav-item">
              <a class="nav-link" routerLink="/admin/enquiries">
                <span data-feather="bar-chart-2"></span>
                Enquiries
              </a>
            </li>

          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="shopping-cart"></span>
              Students
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/admin/users">
              <span data-feather="users"></span>
              Users
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/posts">
              <span data-feather="bar-chart-2"></span>
              Posts
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/admin/orders">
              <span data-feather="bar-chart-2"></span>
              Orders
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/admin/feedbacks">
              <span data-feather="bar-chart-2"></span>
              Feedbacks
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="layers"></span>
              Schedule
            </a>
          </li>
        </ul>
        <h6
          class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted"
        >
          <span>Saved reports</span>
          <a class="d-flex align-items-center text-muted" href="#">
            <span data-feather="plus-circle"></span>
          </a>
        </h6>
        <ul class="nav flex-column mb-2">
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="file-text"></span>
              Current month
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="file-text"></span>
              Last quarter
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="file-text"></span>
              Social engagement
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="file-text"></span>
              Year-end sale
            </a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</div>
