<div class="container-fluid">
        <div class="row">
            <nav class="col-md-2 d-none d-md-block bg-light sidebar">
                <div class="sidebar-sticky">
                  <ul class="nav flex-column">
                    <li class="nav-item">
                      <!-- <a class="nav-link active" href="#">
                        <span data-feather="home"></span>
                        Dashboard <span class="sr-only">(current)</span>
                      </a>
                    </li> -->
                    <div class="text-center">
                        <img src="assets/images/eva.jpg" class="rounded-circle" alt="...">
                    </div>
                    <h5 class="avatar">{{username}}</h5>

                    <li class="nav-item">
                      <a class="nav-link" href="#">
                        <span data-feather="file"></span>
                        My Profile
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">
                        <span data-feather="shopping-cart"></span>
                        Profile
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">
                        <span data-feather="users"></span>
                        Photo
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">
                        <span data-feather="bar-chart-2"></span>
                        Account
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">
                        <span data-feather="layers"></span>
                        Privacy
                      </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <span data-feather="layers"></span>
                            Notifications
                        </a>
                    </li>
                  </ul>
                </div>
              </nav>

            <!-- <app-sidebar></app-sidebar> -->
          <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
              <h3 class="h2"> Profile</h3>
            </div>

            <!-- <h6>Add additional information about yourself</h6> -->
            <!-- <hr> -->
            <!-- <div>
                <app-user></app-user>
            </div> -->

            <!-- <table class="table table-striped">
              <thead class="thead-dark">
                <tr>
                  <th scope="col" class="text-center">First Name</th>
                  <th scope="col" class="text-center">Last Name</th>
                  <th scope="col" class="text-center">Email</th>
                  <th scope="col" class="text-center">Username</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>{{fullName.split(' ')[0]}}</td>
                  <td>{{fullName.split(' ')[1]}}</td>
                  <td>{{email}}</td>
                  <td>{{username}}</td>
                </tr>
                <tr>
              </tbody>
            </table>
 -->
            <!-- <ul class="nav nav-tabs">
                <li class="nav-item">
                  <a class="nav-link active" href="#">My Courses</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Settings</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Link</a>
                </li>
              </ul> -->

              <div class="embed-responsive embed-responsive-16by9">
                  <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/zpOULjyy-n8?rel=0" allowfullscreen></iframe>
                </div>

              <!-- Nav tabs -->
<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Course content</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Overview</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="messages-tab" data-toggle="tab" href="#messages" role="tab" aria-controls="messages" aria-selected="false">Q & A</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="settings-tab" data-toggle="tab" href="#settings" role="tab" aria-controls="settings" aria-selected="false">Announcements</a>
    </li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div class="tab-pane active" id="home" role="tabpanel" aria-labelledby="course-tab"></div>
    <div class="tab-pane" id="profile" role="tabpanel" aria-labelledby="overview-tab">...</div>
    <div class="tab-pane" id="messages" role="tabpanel" aria-labelledby="qa-tab">...</div>
    <div class="tab-pane" id="settings" role="tabpanel" aria-labelledby="announcements-tab">...</div>
  </div>
          </main>
        </div>
      </div>
